{% extends 'base.html.twig' %}

{% block body %}
<section>
    <h1>
        {{ product.name }} - <small>{{ product.category.translate.name }}</small>
    </h1>
    <p><i>Price: </i>${{ product.price }}</p>
    <p>{{ product.description }}</p>
</section>
{% endblock %}